%br
%br
.container-fluid.panel.panel-default
	.panel-body.container-fluid
		.row
			.col-md-8
				%h1= @admin.full_name
				%p= @admin.email
				%p= @admin.phone
				%p= @admin.address
				%p= @admin.skype
				%hr
				
				.clients
					%p<
						%b= 'Clients: '
						%br
						- @client_names.each do |client|
							= client 
							%br
				
					= if current_admin.role == 'central'
						%h2.header-link.content-link
						- button_to "Delete Profile", admin_destroy_path(@admin.id), :method => :get, data: {confirm: "Are you sure you want to delete this profile? This action cannot be undone."},  class: "hvr-underline-from-left"