%h1#client_list_title Clients
%table#clients.table-hover
  %thead
    %tr
      %th First Name
      %th Last Name
      // -if @curr_admin.role == "employee"
      %th= select_tag "status",
            options_for_select(["Status", "Incomplete", "Complete", "Approved", "Rejected"], @status),
            id: 'select_button',
            class: 'filter',
            :onchange => "filter_by_status(this.value)"
      %th= select_tag "phase",
        options_for_select(["All", "Pending", "Phase 1", "Phase 2", "Phase 3", "Phase 4", "Phase 5", "Phase 6", "Rejected"], @phase),
        id: 'select_button',
        class: 'filter',
        :onchange => "filter_by_phase(this.value)"
      %th
    
  %tbody
    - @clients.each do |client|
      %tr
        
        %th= sort_link @search, :first_name, client.first_name

        %td.last_name
          = sort_link @search, :last_name, client.last_name
        %td.status
          = sort_link @search, :client_status, client.status
        %td.phase
          = sort_link @search, :client_phase, client.phase
        %td.more_info
          = link_to "View Profile", client_path(client.id)
        %br

