<div id="events">
  <h1>Pending Invitations</h1>
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here --> 
  <table id="table" class="table table-striped table-mc-light-blue">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th><%=  if @curr_admin == 'central'  then 
          	select_tag "status",
            options_for_select(["Status", "Incomplete", "Complete", "Approved", "Rejected"], @status),
            id: 'select_button',
            class: 'filter',
            :onchange => "filter_by_status(this.value)"
          end%>Status</th>
          <th>Phase</th>
        </tr>
      </thead>
      <tbody>
      	<% @pending.each do |p| %>
			<tr>
				<td><%= if !p.nil?  then p.first_name end %></td>
				<td><%= if !p.nil?  then p.last_name end%></td>
				<td><%= if !p.nil?  then p.status end%></td>
				<td><%= link_to "View Profile", client_path(p.id) %></td>
			</tr>
		<% end %>
      </tbody>
    </table>
  </div>
</div>

<!--%th= select_tag "status",-->
<!--            options_for_select(["Status", "Incomplete", "Complete", "Approved", "Rejected"], @status),-->
<!--            id: 'select_button',-->
<!--            class: 'filter',-->
<!--            :onchange => "filter_by_status(this.value)"-->
<!--%th= select_tag "phase",-->
<!--  options_for_select(["All", "Pending", "Phase 1", "Phase 2", "Phase 3", "Phase 4", "Phase 5", "Phase 6", "Rejected"], @phase),-->
<!--  id: 'select_button',-->
<!--  class: 'filter',-->
<!--  :onchange => "filter_by_phase(this.value)"-->