.container-fluid.panel.panel-default
	.panel-body.container-fluid
		.row
			= render 'partials/client_summary.html.haml'

			.col-md-4
				
	.panel-body
		%ul.nav.nav-tabs
			%li.active
				%a{"data-toggle" => "tab", :href => "#home"} Status Feed
			%li
				%a{"data-toggle" => "tab", :href => "#menu1"} Caseworkers
			%li
				%a{"data-toggle" => "tab", :href => "#menu2"} Documents
			%li
				%a{"data-toggle" => "tab", :href => "#menu3"} Questionnaire

		.tab-content
			#home.tab-pane.fade.in.active
				%h3 Client Activity Feed
				%p Shows a feed of latest events related to the client.
				= render "partials/status_feed.html.erb"
			#menu1.tab-pane.fade
				%h3.text-center Caseworkers
				.caseworkers.text-center
					- @caseworker_names.each do |caseworker|
						.container-fluid
							.row
								.panel.panel-info.panel-user.col-centered.inline-block
									%h6.text-center= caseworker


			#menu2.tab-pane.fade
				%h3 All Documents
				= render "partials/updocs.html.erb"

			#menu3.tab-pane.fade
				= render "partials/form.html.haml"			
