<% if @user != nil or @curr_admin != nil %>

	<% if @user and @user.role == "client" %>
		<div id="case_tracking_status">
			<p id="status_text">You're currently in phase 1.</p>
			<div id="design_bar">
				<div id="design_bar_interior">
					<div id="status_bar"></div>
				</div>
			</div>
		</div>
		<script>
			setTimeout(function() {
				<% /Phase (\d+):/ =~ @user.phase %>
				<% phase = $1.to_i %>
				animateStatus(<%= phase %>);
			}, 200);
		</script>
	<% end %>
		<div id="case_tracker">
			<table id="events">
				<tr>
					<th>Client</th>
					<th>Admin</th>
					<th>Event</th>
					<th>Created</th>
					<th>Last Modified</th>
				</tr>
				<% @events.each do |e| %>
					<tr>
						<td><%= if !e.user.nil? && !e.user.first_name.nil? then link_to(e.user.full_name, client_path(:id => e.user.id)) end %></td>
						<td><%= if !e.admin.nil? && !e.admin.first_name.nil? then e.admin.full_name end%></td>
						<td><%= e.message %></td>
						<td><%= e.created_at %></td>
						<td><%= e.updated_at %></td>
					</tr>
				<% end %>
			</table>
		</div>
<% end %>