.panel.panel-default.panel-form
	.panel-body
		.row
			.col-sm-6
				%h2= @user.full_name
				%p= @user.email
				%h5= @user.phase
				%h5= "Questionnaire status: " + @user.status
			.col-sm-6
				- if current_admin
					.panel.panel-default.panel-info
						
						%b Change Questionnaire Status
						%br
						.form-profile-button
							= button_to 'Approve', mark_client_status_path(:status => "Approved", :form_id => @form_id), {:method => 'post', :class => 'btn btn-sm btn-success'}
						.form-profile-button
							= button_to 'Reject', mark_client_status_path(:status => "Rejected", :form_id => @form_id), {:method => 'post', :class => 'btn btn-sm btn-danger'}
						.form-profile-button
							= button_to 'Incomplete', mark_client_status_path(:status => "Incomplete", :form_id => @form_id), {:method => 'post', :class => 'btn btn-sm btn-warning'}
						%br
						%b Change Client Phase
						%br
						.phase-change-select
							= form_for :edit_client, :url => admin_change_client_phase_path(:action => 'post') do |f|
								.field
									= f.select :changed_phase, options_for_select(User.Application_phases, @user.phase), id: 'changed_phase'
									= f.submit 'Change Phase', class: 'btn btn-sm btn-default'
		.row
			%p<
				%b Latest Event Message: 
				%p= @last_event_message
			- if current_user && current_user.role == "client" && @user.id == current_user.id
				= link_to 'Edit', client_edit_path(@user.id), :method => :get
	.panel-body
		%ul.nav.nav-tabs
			%li.active
				%a{"data-toggle" => "tab", :href => "#home"} Status Feed
			%li
				%a{"data-toggle" => "tab", :href => "#menu1"} Caseworkers
			%li
				%a{"data-toggle" => "tab", :href => "#menu2"} Documents
			%li
				%a{"data-toggle" => "tab", :href => "#menu3"} Questionnaire
		.tab-content
			#home.tab-pane.fade.in.active
				%h3 Client Activity Feed
				%p Shows a feed of latest events related to the client.
				= render "partials/status_feed.html.erb"
			#menu1.tab-pane.fade
				%h3 Caseworkers
				.caseworkers
					%p<
						%b= 'Caseworkers: '
						- @caseworker_names.each do |caseworker|
							= caseworker + ', '
				.assign-caseworker-select
					= form_for :edit_client, :url => admin_assign_caseworker_path(:action => 'post') do |f|
						.field
							= f.select :assign_caseworker, options_for_select(Admin.Caseworkers), id: 'assign_caseworker'
							= f.submit 'Assign Caseworker'
			#menu2.tab-pane.fade
				%h3 Menu 2
				%p Some content in menu 2.
			#menu3.tab-pane.fade
				.panel-body
					- @form_hash.each do |key, value|
						.form-info
							%div.form-question
								= key + ":"
							%div.form-response
								- if value.instance_of?(Array)
									= value.join(', ')
								- else
									= value				
		
		


