<nav class="navbar navbar-custom navbar-static-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="header-link content-link"><%= link_to 'Sign out', destroy_admin_session_path, method: :delete, class: "hvr-underline-from-left" %></li>
          <% else %>
            <li class="header-link content-link"><%= link_to 'Admin Sign In', new_admin_session_path, class: "hvr-underline-from-left" %></li>
            <li class="header-link content-link"><%= link_to 'Sign in', new_user_session_path, class: "hvr-underline-from-left" %></li>
          <% end %>
        </ul>
			  <%= link_to "http://oramrefugee.org"  do%>
          <img class="oram-logo" src="http://oramrefugee.org/wp-content/uploads/2016/03/Oram-Full-logoWhit-150x150.png"/>
        <% end %>
				<ul class="nav navbar-nav navbar-right">
					<% if current_user && current_user.role == "referrer" %>
			<li class="header-link content-link"><%= link_to "Home", root_path, class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Profile", referrer_path(current_user.id), class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Referrals", referrals_path(current_user.id), class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Refer Client", refer_client_path(current_user.id), class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Case Status", case_status_path(current_user.id), class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Settings", user_setting_path(current_user.id), class: "hvr-underline-from-left"%> </li>
          <% end %>
          <% if current_user && current_user.role == "client" %>
            <li class="header-link content-link"><%= link_to "Home", root_path, class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Profile", client_path(current_user.id), class: "hvr-underline-from-left"%> </li>
            <li class="header-link content-link"><%= link_to "Documents", updocs_index_path(current_user.id), class: "hvr-underline-from-left", :method => :get %> </li>
            <li class="header-link content-link"><%= link_to "Settings", user_setting_path(current_user.id), class: "hvr-underline-from-left"%> </li>
          <% end %>
				</ul>
			</div>
		</div>
	</nav>
